.header {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}

.header a {
  /* color: #0070f3; */
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: var(--nvts-green);
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
}

.btnColorMode {
}
.btnMenu {
}
