:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --bgc-primary: #f5f5f5;

  --nvts-green: #0c440c;
  --nvts-green400: #061005;
  --nvts-green500: #0b2e0b;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
}

#body {
  margin-right: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: var(--max-width);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}


button {
  cursor: pointer;
}

/* || VIEW TRANSITIONS */

main {
  view-transition-name: fade-in;
}

::view-transition-old(fade-in) {
  animation: hide 0.1s ease-in-out 1 forwards;
}

::view-transition-new(fade-in) {
  animation: hide 0.4s ease-in-out 1 reverse;
}

h1 {
  view-transition-name: slide-right;
}

::view-transition-old(slide-right) {
  animation: hide 0.1s ease-in-out 1 forwards;
}

::view-transition-new(slide-right) {
  animation: slide-right 1s ease-in-out 1 forwards;
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Second Animation */

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.presentation {
  view-transition-name: slide-up;
}

::view-transition-old(slide-up) {
  animation: hide 0.1s ease-in-out 1 forwards;
}

::view-transition-new(slide-up) {
  animation: slide-up 1s ease-in-out 1 forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
