.NavDrawer {
  position: absolute;
  display: grid;

  top: 110%;
  right: 0;
  width: 100%;
  max-width: 240px;
  background-color: var(--color-page-background);
  z-index: 100;
  padding-block: 10px;
  padding-inline: 20px;
  border: 1px solid;
  border-radius: 4px;
}

.NavDrawerList {
  padding-block: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  list-style: none;
  padding-left: 15px;
}
